{% if is_paginated %}

<div class="pagination pagination-large">
  <ul>
    <li><a href="#">Prev</a></li>
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="current">
                    <a href="#">{{ page }}</a>
                </li>
            {% else %}
                <li>
                     <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">
                        {{ page }}
                    </a>
                </li>
            {% endifequal %}
        {% endif %}
    {% endfor %}
    <li><a href="#">Next</a></li>
  </ul>
</div>
{% endif %}
