{% extends "base.html" %}
{% load party_tags %}
{% load pagination_tags %}
{% load category_tags %}

{% block body %}

<div id="divContent">


<div class="contentfull">
	<h1>Leaflet category - <em>{{ category.name }}</em></h1>

	<p class="page_count">
		{% autopaginate qs 12 %}	
		<strong>{{ total }}</strong> leaflets found, page <strong>{{ currentPage }}</strong> of <strong>{{ totalPages }}</strong>
	</p>
</div>


    <div id="divResults"  class="contentcolleft">    
        <ul class="results">
			{% for leaflet in qs %}
			<li>
               <a class="leaflet" href="{% url leaflet leaflet.id %}">				
				  <img src="{{ leaflet.get_first_image.get_medium }}">
				</a>	
                <a href="{% url leaflet leaflet.id %}">{{ leaflet.publisher_party.name }} Leaflet</a>				
			</li>				
			{% endfor %}
            <li>
         </ul>

		{% paginate %}
      </div>



            <div class="contentcolright">
                                                <div class="infobox">
                <a href="{% url category_feed category.slug %}">
                    <img src="{{ MEDIA_URL}}images/rss.png" alt="rss" title="Subscribe to RSS feed for 'Election leaflets tagged  Mark Walker'"/>
                </a>
				<a href="{% url category_feed category.slug %}">Subscribe to an RSS feed of the latest leaflets</a>
                            </div>
        
                                    <div class="infobox">  
                <h3>Parties</h3>

                <ul class="parties">
			{% party_list_by_count %}
				</ul>
            </div>

            <div class="infobox">
                <h3>Categories</h3>
                <ul>
					{% category_list %}
                </ul>
            </div>
        </div>    
{% endblock %}

