{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
        <meta name="keywords" lang="en" content="election leaflets" />
        <meta name="description" lang="en" content="Real-time election leaflet monitoring" />
        
        <title>{% block title %}Real-time #ElectionLeaflet monitoring{% endblock %}  | ElectionLeaflets.org</title> 
        <link rel="stylesheet" media="all" type="text/css" href="{% static "stylesheets/main.min.css" %}" />
        <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
        {% block extra_head %}{% endblock %}
    </head>

    <body {% block body_class %}{% endblock %}>
        <header>
            <a href="{% url "home" %}"></a>
            <img src="{% static "images/logo.png" %}">
            <h1>ElectionLeaflets.org</h1>
            <h2>Real-time #ElectionLeaflet monitoring</h2>
        </header>
        {% include "navigation.html" %}

        <main>
            {% block body %}
            {% endblock %}
        </main>

        {% include "footer.html" %}
        
        {# // <script type="text/javascript"> #}
        {# //     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); #}
        {# //     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); #}
        {# //     </script> #}
        {# //     <script type="text/javascript"> #}
        {# //     try { #}
        {# //     var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS_KEY }}"); #}
        {# //     pageTracker._trackPageview(); #}
        {# //     } catch(err) {} #}
        {# // </script> #}
        <script src="{% static "javascript/electionleaflets.main.min.js" %}"></script>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
