<footer class="footer">
    <div class="container">
        <p>ElectionLeaflets.org is a real-time election leaflet monitoring project. By uploading election leaflets that come through the door, you help to hold politicians to account.</p>
        <ul class="footer-links">
            <li><a href="http://blog.electionleaflets.org">Blog</a></li>
            <li class="muted">·</li>
            <li><a href="{% url about %}">Contact</a></li>
            <li class="muted">·</li>
            <li><a href="http://twitter.com/thesc">Twitter</a></li>
            <li class="muted">·</li>
            <li><a href="https://github.com/rossjones/electionleaflets">Fork code on Github</a></li>
        </ul>
    </div>
</footer>
