.container-fluid .btn, .container-fluid .btn-large, .container-fluid input[type="submit"], .container-fluid input, .container-fluid textarea, .container-fluid select {display:block;}
input, textarea, select {width:98%;}
.navbar-fixed-top .container {width: auto; padding-left:10px;}
#upload_photos {margin:0; padding:0; list-style-type: none}
#upload_photos li {margin:0; padding:6px; list-style-type: none}
input.btn {width:100%;}

#upload_photos span.file-input-name {display:none;}

#imprint_explanation {border-top:solid 1px #ccc; border-bottom:solid 1px #ccc; padding-top:1em; margin-bottom:1em;}
#imprint_explanation img {border:solid 1px #ccc; margin:1em 0;}

#progress_header .breadcrumb {padding:0; width:100%;}
#progress_header .breadcrumb li {width:49%;margin:0;padding:0;}
#progress_header .breadcrumb li a {padding:10px; display:block;}
#progress_header .active {background: #0088cc}
#progress_header .active a {color:#fff;text-shadow:none;}

#leaflet_carousel .carousel-indicators li {background-color:#ccc; border:solix 1px #fff;}
#leaflet_carousel .carousel-indicators li.active {background-color:#000;}

.leaflet_list .row-fluid {clear:left;}

.huge {font-size:350%;}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {padding-left: 0;}

@media (min-width: 768px) {
 .container-fluid .btn, .container-fluid .btn-large, .container-fluid input[type="submit"] {display:inline-block; width:auto;}
 .navbar-fixed-top .container {padding:0 7px 0 10px;}
 .container-fluid input[type="text"], .container-fluid textarea, .container-fluid select {display:inline-block;width:40%;}
 #imprint_explanation {max-width:60%;}
}

@media (min-width: 979px) {
  body {padding-top:60px;}
  .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: auto;}
  .navbar-fixed-top .container {padding:0 22px;}
}

#map { height: 180px; }
#map img {max-width:none!important;} /* fix for openlayers + bootstrap conflict */
