*~
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*
.svn
bin/*
lib/*
include/*
build/*
settings_dev.py
develop-eggs
downloads
eggs
log
parts
electionleaflets/media/uploads/
electionleaflets/media/leaflets/
media/uploads
tmp
.DS_Store
electionleaflets.db
.Python
readline-6.2.2-py2.7-macosx-10.7-intel.egg/
local_settings.py
