{% extends "base.html" %}

{% block body %}
<div id="divContent">
	<div id="divWarning">
	</div>
			
	<div id="divMessages">
	</div>

<div class="contentfull">
<h1>Constituencies</h1>
<p>Select a constituency from the list below, or enter your postcode</p>

	<form method="get" action="{% url constituencies %}">
    	<label for="txtSearch">Postcode</label>
        <input type="text" id="txtSearch" name="p" />
        <input  type="submit" value="GO" />
        <small>e.g. <a href="?p=sw98jx">SW9 8JX</a></small>
    </form>
    <div class="section">
            <ul>
				{% for c in constituencies %}
                                    <li>
                        <a href="{% url constituency c.slug %}">{{ c.name }}</a>
                    </li>
				{% endfor %}
			</ul>
	</div>
</div>
{% endblock %}