{% extends "base.html" %}
{% load pagination_tags category_tags party_tags %}

{% block title %}Latest leaflets{% endblock %}

{% block body %}
<div class="row-fluid">
    <h1>Latest leaflets</h1>
    <p class="page_count">
        {% autopaginate qs 12 %}
        <strong>{{ total }}</strong> leaflets found, page <strong>{{ currentPage }}</strong> of <strong>{{ totalPages }}</strong>
    </p>
</div>
<div class="row-fluid">
    <div class="span9 leaflet_list">
        {% for leaflet in qs %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row-fluid">
            {% endif %}
                    <div class="span3">
                        <a class="leaflet" href="{% url leaflet leaflet.id %}">
                            <img src="{{ leaflet.get_first_image.get_medium }}" data-src="holder.js/300x200" alt="">
                        </a>
                    </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        {% paginate %}
    </div>
    <div class="span3">
        <a href="{% url latest_feed %}">Subscribe to an RSS feed of the latest leaflets</a>

        <h3>Parties</h3>
        <ul class="parties">
            {% party_list_by_count %}
        </ul>

        <h3>Categories</h3>
        <ul>
            {% category_list %}
        </ul>
    </div>
</div>

{% endblock %}
