{% extends "base.html" %}
{% load pagination_tags %}
{% load category_tags %}
{% load party_tags %}
{% load thumbnail %}


{% block title %}Latest leaflets{% endblock %}

{% block body %}

<h1>Latest leaflets</h1>

<ul class="leaflet_list">
    {% for leaflet in leaflet_list %}
        <li>
            <figure>
                <a href="{% url "leaflet"  leaflet.id %}">
                    {% thumbnail leaflet.get_first_image.image "150" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </a>
                <figcaption>
                    <a href="{% url "leaflet" leaflet.id %}">{{ leaflet.title }}</a>
                </figcaption>
            </figure>
            

            
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<span class="page-current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
<nav role="menu" aria-label="Pagination">
   <ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a href="{% url "leaflets" %}?page={{ page_obj.previous_page_number }}">previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
        <li><a href="{% url "leaflets" %}?page={{ page_obj.next_page_number }}">next</a></li>
    {% endif %}
   </ul>
</nav>
{% endif %}

<a href="{% url "latest_feed"  %}">
<i class="fa fa-rss"></i> RSS
</a>

<aside>    
    <div class="infobox">  
        <h3>Parties</h3>
        <ul class="parties">
            {% party_list_by_count %}
        </ul>
    </div>

    <div class="infobox">
        <h3>Categories</h3>
        <ul>
            {% category_list %}
        </ul>
    </div>
</aside>        

{% endblock %}
