{% extends "base.html" %}
{% block body %}

<div class="row-fluid">
    <div class="span8">
      <div id="leaflet_carousel" class="carousel slide" data-interval="">
            <ol class="carousel-indicators">
                {% for image in object.images.all %}
                  <li data-target="#leaflet_carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for image in object.images.all %}
                <div class="item{% if forloop.first %} active{% endif %}">
                    <img src="{{ image.get_large }}"/>
                    <div class="carousel-caption">
                      <p>
                        <a href="{% url full_image image.image_key %}">view larger image</a>
                      </p>
                      {% if request.user.is_staff %}
                        <p>
                            <a class='staff_link' style='padding:0; background-image:0;' href='{% url rotate_image "left",image.image_key%}'>
                                <img src='{{MEDIA_URL}}images/rotate_left.png' border='0' width='20px' alt='rotate left'/></a>
                            </a>

                            <a class='staff_link' style='padding:0; background-image:0;' href='{% url rotate_image "right",image.image_key%}'>
                                <img src='{{MEDIA_URL}}images/rotate_right.png' border='0' width='20px' alt='rotate right'/></a>
                            </a>
                        </p>
                        {% endif %}

                    </div>
                  </div>
              {% endfor %}
            </div>
            <a class="left carousel-control" href="#leaflet_carousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#leaflet_carousel" data-slide="next">›</a>
        </div>
    </div>
    <div class="span4">
        <h1>{{ object.get_title }}</h1>
        <div>
            {% if object.description %}
                {{ object.description|linebreaks }}
            {% endif %}
        </div>

        {% if object.publisher_party and object.publisher_party.slug %}
        <p>Published by <a href="{% url party object.publisher_party.slug%}">{{object.publisher_party.name}}</a></p>
        {% endif %}
        <p>
            Delivered in {% if object.get_first_constituency %}<a href="{% url constituency object.get_first_constituency.slug %}">{{ object.get_first_constituency.name }}</a>{% else %}unknown location{% endif %} on {{ object.date_delivered|date:"l, d M, Y" }} (approximate). Uploaded on {{ object.date_uploaded|date:"l, d M, Y" }} at {{ object.date_uploaded|date:"H:i" }}.
        </p>

        {% if object.imprint %}
        <h4>Promoter and Publisher details</h4>
        <ul>
            <li>
            <small>
                {{ object.imprint }}
            </small>
            </li>
        </ul>
        {% endif %}

        <h4>Tags</h4>
        <ul>
            {% for t in object.tags.all %}
                {% if t.slug %}
                    <li><a href="{% url tag t.slug %}">{{t.tag}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if object.categories.count %}
            <h4>Categories</h4>
            <ul>
                {% for category in object.categories.all %}
                    <li><a href="{% url category category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}



        {% if object.attacks.count %}
            <h4>Parties attacked in this leaflet</h4>
            <ul>
                {% for attack in object.attacks.all %}
                    <li><a href="{% url attacking_party attack.slug %}">{{ attack.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Location (approximate)</h4>
        <div id="map"></div>

        <h3>Something wrong with this page?</h3>
        <p>
            If someone has uploaded something other than an election leaflet <a href="{% url report_abuse object.id %}"> please report it here</a>.
        </p>

        <hr/>
        {% if request.user.is_staff %}
            <a class='staff_link' href='/admin/leaflets/leaflet/{{ object.id }}/'>Edit leaflet</a>
        {% endif%}
    </div>
</div>
<script>
    var map = L.map('map', {scrollWheelZoom: false}).setView([{{object.lat}}, {{object.lng}}], 13);
    L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png', {
    attribution: 'Data, imagery and map information provided by MapQuest, Open Street Map <http://www.openstreetmap.org/> and contributors, CC-BY-SA <http://creativecommons.org/licenses/by-sa/2.0/> .',
    maxZoom: 18
}).addTo(map);
</script>


{% endblock %}
