{% extends "base.html" %}
{% load thumbnail %}
{% load markdown_deux_tags %}

{% block extra_head %}

{% endblock %}
{% block body_class %}class="leaflet_page"{% endblock %}

{% block body %}
    {% if request.user.is_staff %}
        <a class='staff_link' href='/admin/leaflets/leaflet/{{ object.id }}/'>Edit leaflet</a>
    {% endif%}

    <article>
        <h1>{{ object.get_title }}</h1>
    
        <section class="leaflet_information">
            <div id="leaflet_description">
            {% if object.description %}
                {{ object.description|markdown }}
            {% endif %}
            </div>
        
        
            {% if object.imprint %}
            <div id="leaflet_imprint">
            <h4>Promoter and Publisher details</h4>
            <p>{{ object.imprint }}</p>
            </div>
            {% endif %}

            {% if object.tags.all %}
            <h4>Tags</h4>
            <ul>
                {% for t in object.tags.all %}
                    {% if t.slug %}
                        <li><a href="{% url "tag"  t.slug %}">{{t.tag}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </section>


        <section class="leaflet_images" aria-describedby=leaflet_description>
            {% for image in object.images.all %}
                <figure>
                    <a href="{% url "full_image"  image.id %}">
                        {% thumbnail image.image "600" crop="center" as im %}
                        <img src="{{ im.url }}" aria-labelledby="page-{{image.id}}">
                        {% endthumbnail %}
                    </a>
                    <figcaption>
                        {% if image.image_type == "1_front" %}
                            <span id="page-{{image.id}}">Leaflet Front</span>
                        {% endif %}
                        <a href="{% url "full_image"  image.pk %}">view larger image</a>
                    </figcaption>
                </figure>
            {% endfor%}
            <a href="{% url "full_images"  object.id %}">view all images</a>
        </section>

        <section class="leaflet_map">
            <p>Delivered in {% if object.constituency %}<a href="{% url "constituency"  object.constituency.slug %}">{{ object.constituency.name }}</a>{% else %}unknown location{% endif %} on {{ object.date_delivered|date:"l, d M, Y" }} (approximate). Uploaded on {{ object.date_uploaded|date:"l, d M, Y" }} at {{ object.date_uploaded|date:"H:i" }}.</p>
            {% if object.constituency %}

            {% endif %}
        </section>
            <div id="leaflet_map"></div>
    </article>
    <aside>
        <section class="party">
            <img src="http://openelectoralcommission.org.uk/party_images/{{ object.publisher_party.emblems.all.0.emblem_url }}">
            {% if object.publisher_party and object.publisher_party.slug %}
            <p>Published by <a href="{% url "party" object.publisher_party.slug%}">{{object.publisher_party.party_name}}</a></p>
            {% endif %}
        </section>
        
        <section id="ReportAbuse">
            <h3>Something wrong with this page?</h3>
            <p>If someone has uploaded something other than an election leaflet <a href="{% url "report_abuse"  object.id %}"> please report it here</a>.</p>

            {% if request.user.is_staff %}
                <hr/>
                <a class='staff_link' href='/admin/leaflets/leaflet/{{ object.id }}/'>Edit leaflet</a>
            {% endif%}
        </section>
        
        
    </aside>



{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
var point = [{{leaflet.lat}},{{leaflet.lng}}];
var constituency_id = "{{object.constituency.constituency_id}}";
create_leaflet_map(point, constituency_id);
</script>
{% endblock %}
