{% extends "base.html" %}
{% load content_tags %}

{% block body %}
 {% if request.user.is_staff %}
                <a class='staff_link' href='/admin/content/contentblock/2/'>Edit ContentBlock</a>
                {% endif%}

    <h1>About ElectionLeaflets.org</h1>
{% content_block "about" %}


		<a name='contact'></a>
		<h2>Contact details</h2>
{% if request.user.is_staff %}
<a class='staff_link' href='/admin/content/contentblock/3/'>Edit ContentBlock</a>
                {% endif%}

{% content_block "contact" %}

{% endblock %}
