{% extends "base.html" %}
{% load leaflet_tags %}
{% load party_tags %}
{% load constituency_tags %}
{% load content_tags %}

{% block body %}
<div id="welcome" class="row-fluid">
    <div class="well" style='font-weight: 300'>

        <div class="span6" style='font-size: 1.4em'>
            <h2>Got Election leaflets?<br/> Photo them. Send them to us.</h2>

            <p>Even in the internet age, leaflets are a time honoured way for political parties to get their message across. We want to keep track of how politicians are trying to get your vote, and where they are campaigning.</p>

            <p>Sending us your leaflets is incredibly simple: take a high resolution colour photograph (or better yet, use a scanner if you have one) and submit it to us by clicking on the button below.</p>

            <p style='text-align:center;'><a href="{% url add_leaflet %}" class="btn btn-primary btn-large">Add a leaflet</a></p>

        </div>

        <div class="span6">
            <h3>Taking a decent photo</h3>
            <p>We recommend putting the leaflet on a flat surface like a table in a well lit room and taking a photograph of it from directly above. You might want to turn off the flash.</p>

            <p>Don’t forget to take a photograph of all the sides of the leaflet (not just the front), and to ensure that the text is legible.</p>

            <h3>I can’t take a photo or scan</h3>
            <p>No problem, just post the leaflet to Elections Leaflet, ℅ Unlock Democracy, 37 Gray’s Inn Road, London WC1X 8PQ and don't forget to include your postcode.</p>
        </div>

        <div class="clearfix"></div>
        <div style='font-weight: 300; color: #777; margin-top: 30px; padding: 10px;'>
            Election Leaflets is run by a group of volunteers. It is currently being supported by <a href="http://unlockdemocracy.org.uk">Unlock Democracy</a>, the campaign for democracy, rights and freedoms. Both Election Leaflets and Unlock Democracy are independent and not affiliated to any political party
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span12 leaflet_list">
        {% for leaflet in leaflets %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row-fluid">
            {% endif %}
                    <div class="span4">
                        <a class="leaflet" href="{% url leaflet leaflet.id %}">
                            <img src="{{ leaflet.get_first_image.get_large }}" data-src="holder.js/300x200" alt="">
                        </a>
                    </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="span12 well">
        <h2>Search leaflets</h2>
        <form method="post" action="{% url constituencies %}">
            <p>
                 <label for="id_search">Enter your postcode to see leaflets near you</label>
                 <input type="text" id="id_search" name="search" />
                 <label for='id_constituency'>or choose a constituency</label>
                 {{ form.constituency }}
                 <input  class="btn" type="submit" value="GO" />
            </p>
         </form>
    </div>
</div>

{% endblock %}