@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/Philosopher-Regular.ttf');
}

@font-face {
    font-family: 'ptsans';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
