@import "vars";
//@import "normalize/index.scss";
@import "typeplate/scss/typeplate";
@import "fonts";

body {
    font-family: 'ptsans';
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    margin: 0;
    color: #353A38;
}


header {
    background-image:url('../images/clouds.png');
    margin:0 auto;
    text-align:right;
    
    padding-top:0.5em;
    height:60px;
    @media screen and (min-width: 30em) {
        text-align:center;
        height:100%;
    }
    img {
        float:left;
        position:relative;
        left:-270px;
        top:-50px;
        @media screen and (min-width: 30em) {
            float: none;
            position: inherit;
            max-width:95%;
            margin:0 auto;
            clear:both;
          }
    }
    h1 {
        position:absolute;
        float:left;
        top:0.5em;
        right:0.5em;
        margin:0;
        padding:0;
        font-size:130%;
        @media screen and (min-width: 30em) {
            float: none;
            position:relative;
            top:-0.6em;
            
          }
    }
    h2 {
        display:none;
        @media screen and (min-width: 30em) {
            display:block;
        }
    }
}

nav {
    clear:both;
    position:relative;
    top:-33px;
    background-color:#353B38;
    @media screen and (min-width: 30em) {
        position:inherit;
        top:0;
        
      }
}

nav > ul {
    max-width:900px;
    margin:0 auto;
    padding:0.4em;
    list-style-type:none;
    text-align:center;

    > li {
        display:inline;
        padding:0.4em;
        margin:0.2em;
        a {
            color:#FFF;
        }
    }
}

main {
    clear:both;
    max-width:900px;
    margin:1em auto;
    padding:0.5em;
    
}

body > footer {
    background-color:#353B38;
    color:#FFF;
    padding:0.5em;
    a {
        color:#FFF;
    }
}

.upload {
    font-weight:bold;
    font-size:$typl8-font-base * 1.2 + px;
    text-align:center;
    display:block;
}

body.leaflet_app {
    height:100%;
    overflow:hidden;
}

#LeafletUploader {
    position:absolute;
    background-color:#FFF;
    top:50px;
    bottom:0;
    left:0;
    right:0;
    padding:0.5em;
    
    footer {
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        background-color:#353B38;
        padding:0.5em;
        button {
            
        }
    }
}