@import "vars";
@import "normalize/index.scss";
@import "typeplate/scss/typeplate";
@import "typeplate/scss/typeplate";
@import "Font-Awesome/scss/font-awesome";
@import "fonts";
@import "leaflet_css";

body {
    font-family: 'ptsans';
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    margin: 0;
    color: #353A38;
}


body > header {
    background-image:url('../images/clouds.png');
    margin:0 auto;
    text-align:right;
    
    padding-top:0.5em;
    height:60px;
    @media screen and (min-width: $mobile-break) {
        text-align:center;
        height:100%;
    }
    img {
        float:left;
        position:relative;
        left:-270px;
        top:-50px;
        @media screen and (min-width: $mobile-break) {
            float: none;
            position: inherit;
            max-width:95%;
            margin:0 auto;
            clear:both;
          }
    }
    h1 {
        position:absolute;
        float:left;
        top:0.5em;
        right:0.5em;
        margin:0;
        padding:0;
        font-size:130%;
        @media screen and (min-width: $mobile-break) {
            float: none;
            position:relative;
            top:-0.6em;
            
          }
    }
    h2 {
        display:none;
        @media screen and (min-width: $mobile-break) {
            display:block;
        }
    }
}

nav {
    clear:both;
    position:relative;
    top:-33px;
    background-color:#353B38;
    @media screen and (min-width: $mobile-break) {
        position:inherit;
        top:0;
      }
}

nav > ul {
    max-width:900px;
    margin:0 auto;
    padding:0.4em;
    list-style-type:none;
    text-align:center;

    > li {
        display:inline;
        padding:0.4em;
        margin:0.2em;
        a {
            color:#FFF;
        }
    }
}

main {
    clear:both;
    max-width:900px;
    margin:1em auto;
    padding:0.5em;
    
}

body > footer {
    background-color:#353B38;
    color:#FFF;
    padding:0.5em;
    a {
        color:#FFF;
    }
}

.upload {
    font-weight:bold;
    font-size:$typl8-font-base * 1.2 + px;
    text-align:center;
    display:block;
}

body.leaflet_app {
    height:100%;
    overflow:hidden;
}

//#LeafletUploader {
//    position:absolute;
//    background-color:#FFF;
//    top:50px;
//    bottom:0;
//    left:0;
//    right:0;
//    padding:0.5em;
//
//    footer {
//        position:absolute;
//        bottom:0;
//        left:0;
//        right:0;
//        background-color:#353B38;
//        padding:0.5em;
//        button {
//
//        }
//    }
//}

.file_input_button {
    position: relative;
    overflow: hidden;
    text-align:center;
    text-decoration:underline;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    .file_input_preview {
        font-size:4em;
        img {
            width:100%;
        }
    }
}


ul.leaflet_list {
    padding:0;
    margin:0;
    clear:both;
    overflow:auto;
    li {
        margin-bottom:1em;
        figure {
            margin:0;
            padding:0;
            border:1px solid #EEE;
            figcaption {
                font-size:0.8em;
                text-align:center;
                padding:0.2em;
            }
        }
        width:150px;
//        float:left;
        list-style-type:none;
    }
}

#leaflet_map {
    width: 100%;
    height: 300px;
}

.leaflet_location_icon {
    background-color:black;
    border-radius: 50%;
    height:2px;
    width:2px;
}

.leaflet_page {
    main {
        &:after {
            content:"";
            display:block;
            clear:both;
        };
        article {
            @media screen and (min-width: $mobile-break) {
                max-width:600px;
                float:left;
              }
            
            text-align:justify;
            figure {
                img {
                    width:100%;
                }
            }
        }
    
        aside {
            @media screen and (min-width: $mobile-break+9) {
                float:right;
                width:28%;
              }
            
            > section {
                background-color:#fdf2d5;
                border-radius:2px;
                padding:1em;
                margin:1.5em 0;
                &.party {
                    background-color:#FFF;
                    text-align:center;
                    img {
                        max-width:95%;
                    }
                }
            }
            
        }
    }
}