$typl8-paragraph-spacing: true;
$typl8-custom-font: 'ptsans';
$typl8-line-height: 1.65;

$typl8-scale: (
  typl8-mega: 32,
  typl8-alpha: 24,
  typl8-beta: 21,
  typl8-gamma: 18,
  typl8-delta: 24,
  typl8-epsilon: 21,
  typl8-zeta: 18,
);
